header {
	background-image:url('../images/header/cinema.jpg');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	height: 220px;
}

body {
	
	color: ghostwhite;
	background-color: #17202A;
	opacity: 0.9;
}

h1 {
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	opacity: 0.7;
	padding-top: 50px;
}

p {
	text-align:justify;
}

.div1 {
	background-color: #1B2631;
	border-color: #AED6F1;
	border: solid 1px;
	max-width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 30px 20px;
}

th {
	text-align: justify;
	padding: 20px 10px;
}

.titre {
	text-align: left;
}
.date-real {
	text-align: right;
}
.navigation {
	text-align: center;
	padding:  10px 0;
	max-width: 50%;
	margin: auto;
	display: grid;
	grid-column-gap:  0.5%;
	grid-template-columns: 33% 33% 33%;
}

.left{
	display: inline-grid;
	text-align: left;



}

.center{
	display: inline-grid;
	margin: 0 auto;
	text-align: center;



}

.right{
	display: inline-grid;
	text-align: right;
}

a:link {
	color: white;
}

a:visited {
	color: pink;
}